.transition(@a) {
    -webkit-transition: @a;
       -moz-transition: @a;
        -ms-transition: @a;
         -o-transition: @a;
            transition: @a;
}

.transition(@a, @b) {
    -webkit-transition: @a, @b;
       -moz-transition: @a, @b;
        -ms-transition: @a, @b;
         -o-transition: @a, @b;
            transition: @a, @b;
}

.transition-delay(@a) {
    -webkit-transition-delay: @arguments;
       -moz-transition-delay: @arguments;
        -ms-transition-delay: @arguments;
         -o-transition-delay: @arguments;
            transition-delay: @arguments;
}

.animation-name (@a) {
    -webkit-animation-name: @a;
       -moz-animation-name: @a;
        -ms-animation-name: @a;
         -o-animation-name: @a;
            animation-name: @a;
}

.animation-timing-function (@a) {
    -webkit-animation-timing-function: @a;
       -moz-animation-timing-function: @a;
        -ms-animation-timing-function: @a;
         -o-animation-timing-function: @a;
            animation-timing-function: @a;
}

.animation-duration (@a) {
    -webkit-animation-duration: @a;
       -moz-animation-duration: @a;
        -ms-animation-duration: @a;
         -o-animation-duration: @a;
            animation-duration: @a;
}

.animation-delay (@a) {
    -webkit-animation-delay: @a;
       -moz-animation-delay: @a;
        -ms-animation-delay: @a;
         -o-animation-delay: @a;
            animation-delay: @a;
}

.animation-iteration-count (@a) {
    -webkit-animation-iteration-count: @a;
       -moz-animation-iteration-count: @a;
        -ms-animation-iteration-count: @a;
         -o-animation-iteration-count: @a;
            animation-iteration-count: @a;
}

.animation-direction (@a) {
    -webkit-animation-direction: @a;
       -moz-animation-direction: @a;
        -ms-animation-direction: @a;
         -o-animation-direction: @a;
            animation-direction: @a;
}

.animation-fill-mode(@a) {
    -webkit-animation-fill-mode: @a;
       -moz-animation-fill-mode: @a;
        -ms-animation-fill-mode: @a;
         -o-animation-fill-mode: @a;
            animation-fill-mode: @a;
}