@import "_animate";
@import "_font";

.b-header__line-bg-keyframes() {
    0% {
        width: 0;
        height: 0;
        margin-top: 35px;
        margin-left: 35px;
    }

    100% {
        width: 70px;
        height: 70px;
        margin-top: 0;
        margin-left: 0;
    }
}

.b-header__line-text-keyframes() {
    0% {
        top: -45px;
    }

    100% {
        top: 0;
    }
}

@-webkit-keyframes b-header__line-bg { .b-header__line-bg-keyframes }
@-moz-keyframes b-header__line-bg { .b-header__line-bg-keyframes }
@-ms-keyframes b-header__line-bg { .b-header__line-bg-keyframes }
@-o-keyframes b-header__line-bg { .b-header__line-bg-keyframes }
@keyframes b-header__line-bg { .b-header__line-bg-keyframes }

@-webkit-keyframes b-header__line-text { .b-header__line-text-keyframes }
@-moz-keyframes b-header__line-text { .b-header__line-text-keyframes }
@-ms-keyframes b-header__line-text { .b-header__line-text-keyframes }
@-o-keyframes b-header__line-text { .b-header__line-text-keyframes }
@keyframes b-header__line-text { .b-header__line-text-keyframes }


.b-header {
    background: silver;
    .font-bold();

    .b-clock {
        float: right;

        position: relative;
        top: 10px;

        font-size: 46px;
        letter-spacing: 1px;
    }
}

.b-header__line {
    display: inline-block;
    position: relative;
}

.b-header__line-bg,
.b-header__line-text {
    display: inline-block;

    width: 70px;
    height: 70px;

    position: absolute;
    top: 0;
    left: 0;

    border-radius: 50%;

    .animation-duration(750ms);
}

.b-header__line-bg {
    background: #FFF;
    border-radius: 50%;

    .animation-name(b-header__line-bg);
}

.b-header__line-text {
    line-height: 70px;
    font-size: 35px;
    text-align: center;
    color: silver;
    .font-feature-settings("salt");

    .animation-name(b-header__line-text);
    .animation-timing-function(ease-in-out);
}