.b-inline-station {
    position: relative;

    font-size: 48px;

    .b-transfer-options {
        height: 64px;

        position: absolute;
        top: auto;
        right: 140px;
    }
}

.b-inline-station__name {
    display: inline-block;

    font-size: 62px;
    vertical-align: middle;
}

.b-inline-station__time-left {
    display: inline-block;

    position: absolute;
    right: 0;
    top: 8px;

    font-size: 46px;
    line-height: 48px;
    text-align: right;
}