.b-inline-station {
    position: relative;

    font-size: 48px;

    .b-transfer-options {
        height: 64px;

        position: absolute;
        top: 7px;
        right: 0;
    }
}

.b-inline-station__name {
    display: inline-block;
    margin-left: 29px;

    font-size: 62px;
    letter-spacing: -2px;
    vertical-align: middle;
}

.b-inline-station__time-left {
    width: 110px;
    display: inline-block;

    position: relative;
    top: 18px;

    font-size: 40px;
    text-align: right;
    color: rgb(137, 152, 176)
}