.b-inline-station {
    position: relative;

    font-size: 48px;

    .b-late {
        position: relative;
        top: 10px;
        margin: 0 35px 0 45px; // .b-late width + 2 * margin must be the width .b-inline-station__time-left
    }
}

.b-inline-station__name {
    display: inline-block;
    margin-left: 29px;

    font-size: 60px;
    vertical-align: middle;
}

.b-inline-station__time-left {
    width: 110px;
    display: inline-block;

    position: relative;
    top: 18px;

    font-size: 40px;
    text-align: right;
    letter-spacing: -2px;
    color: rgb(137, 152, 176)
}

.b-inline-station__transfer {
    display: inline-block;
    height: 64px;

    position: absolute;
    top: 7px;
    right: 0;

    white-space: nowrap;

    .b-transfer-icon {
        display: inline-block;
        vertical-align: middle;
        margin-left: 10px;

        &:first-child {
            margin-left: 0;
        }
    }

    .b-transfer-icon_tram {
        >div {
            height: 40px;
            width: 45px;

            font-size: 27px;
            line-height: 40px;
        }
    }
}