@import "_animate";

.b-late-keyframes() {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0.2;
    }
}

@-webkit-keyframes b-late { .b-late-keyframes }
   @-moz-keyframes b-late { .b-late-keyframes }
    @-ms-keyframes b-late { .b-late-keyframes }
     @-o-keyframes b-late { .b-late-keyframes }
        @keyframes b-late { .b-late-keyframes }

.b-late {
    display: inline-block;

    width: 30px;
    height: 30px;

    background: silver;
    border-radius: 50%;

    .animation-name(b-late);
    .animation-iteration-count(infinite);
    .animation-direction(alternate);
    .animation-duration(1s);
}