@import "_animate";

.b-scrollable-text {
    white-space: nowrap;

    .animate {
        .transition(~"-webkit-transform 0.7s, -moz-transform 0.7s, -ms-transform 0.7s, -o-transform 0.7s, transform 0.7s");
    }
}

.b-scrollable-text__content-wrap {
    overflow: hidden;
}

.b-scrollable-text__content-wrap,
.b-scrollable-text__current,
.b-scrollable-text__next {
    width: 100%;

    overflow: hidden;
    text-overflow: ellipsis;
}