@import "_animate";

.b-stations-list__line {
    .transition(~"-webkit-transform 1s, -moz-transform 1s, -ms-transform 1s, -o-transform 1s, transform 1s");

    position: fixed;
    top: 0;

    width: 100%;
    height: 111px;
    overflow: hidden;

    background: rgb(42, 41, 66);

    .b-inline-station {
        margin: 15px 30px 0 30px;
    }

    .b-intermediate-stations {
        margin: 5px 0 0 80px;
    }

    .b-inline-station__transfer,
    .b-intermediate-stations__direction {
        transform: translateY(0);
    }

    .b-inline-station__transfer,
    .b-intermediate-stations__direction {
        .transition(~"-webkit-transform 1s, -moz-transform 1s, -ms-transform 1s, -o-transform 1s, transform 1s");
    }

    &:nth-child(odd) {
        background: rgb(35, 35, 52);
    }

    &:nth-child(1) {
        .transform(translateY(100px));
        z-index: 96;

        .b-scrollable-text .animate {
            .transition-delay(300ms);
        }

        .b-inline-station__transfer {
            .transition-delay(400ms);
        }
    }

    &:nth-child(2) {
        .transform(translateY(211px));
        z-index: 97;

        .b-scrollable-text .animate {
            .transition-delay(400ms);
        }

        .b-inline-station__transfer {
            .transition-delay(500ms);
        }
    }

    &:nth-child(3) {
        .transform(translateY(322px));
        z-index: 98;

        .b-scrollable-text .animate {
            .transition-delay(500ms);
        }

        .b-inline-station__transfer {
            .transition-delay(600ms);
        }
    }

    &:nth-child(4) {
        .transform(translateY(433px));
        z-index: 99;

        .b-scrollable-text .animate {
            .transition-delay(600ms);
        }

        .b-inline-station__transfer {
            .transition-delay(700ms);
        }
    }

    &:nth-child(5) {
        .transform(translateY(544px));
        z-index: 100;

        .b-scrollable-text .animate {
            .transition-delay(700ms);
        }

        .b-inline-station__transfer,
        .b-intermediate-stations__direction {
            .transition-delay(800ms);
        }
    }

    &:nth-child(6) {
        .transform(translateY(655px));
        z-index: 101;

        .b-scrollable-text .animate {
            .transition-delay(800ms);
        }

        .b-inline-station__transfer {
            .transition-delay(900ms);
        }
    }
}